<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:title" content="Multiple Human Disease Ditection">
  <meta name="author" content="P5 Group">
  <meta name="og:image" content="static/logo1.png">
  <meta name="Keywords" content="Flask, Machine Learning, Deep Learning, Artificial Intelligence, AI, ML,DL, Web Development">
  <meta name="description" content="A Machine Learning and Deep Learning based webapp for Multiple Human Disease Ditectiontion.">
  <title>Disease Predictor</title>
  <link rel="icon" href="{{ url_for('static', filename = 'logo1.png') }}" type="image/icon type">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style>
html, body{ height:100%; margin:0;}
header{ height:50px;}
footer{ height:75px; background:black; }

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  padding:10px;
  margin-top:auto;
  margin-bottom: auto; 
}
  </style>

</head>
<body >
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="background-color: black !important;">
        <span style="color:white">MULTIPLE HUMAN DISEASE PREDICTION </span>
      
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
               <a href="{{ url_for('home') }}" class="nav-link">Home</a>

             <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('kidneyPage') }}">Kidney</a>
              </li>
               
              <li class="nav-item active"> 
                <a class="nav-link" href="{{ url_for('malariaPage') }}">Malaria</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('pneumoniaPage') }}">Pneumonia</a>
              </li>
           </ul>
         </div>
       </nav>
	<br>
<br>

<main style="background-color: coral;" > 
	<div class="container-fluid" style="margin-bottom: 20px;">
	{% block content %}

	{% endblock %}
    </div>
  </main >
  <footer>
    <center>
      <ul style="list-style-type:none;">
      <li style="display: inline;"><a style="color: white;" target="blank"><span class=""> @Copyright Multiple Human Disease Detection Web-app 2023 All Rights are
        Reserved.</span></a></li>
      &nbsp;
      <li><p style="color: white;">Made by <span style="color: red;">&hearts;</span> by P5 Group </p></li>
    </ul>
  </center>
  </footer>
</body>
</html>